<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Default Suite">
    <test thread-count="5" name="seleniumCore">
        <classes>
            <class name="test.java.TestNgGuiceTest">
            </class>
            <class name="TestSingleton"/>
        </classes>
    </test>
</suite>
